<table width="170" border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="2" style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#fff;"><b>UPCOMING EVENTS</b></td></tr>
<tr><td width="150"></td><td width="20" height="6" bgcolor="#008cbb"></td></tr>
<tr><td height="1" bgcolor="#cccccc"></td><td height="1" bgcolor="#008cbb"></td></tr>
<tr><td height="10" colspan="2"></td></tr>
<tr><td colspan="2" style="font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#fff;"><?php echo $this->body; ?></td></tr>
<tr><td height="10" colspan="2"></td></tr>
</table>