<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>GoKunming Down For Maintenance</title>

		<link href="/images/favicons/gokunming.gif" rel="icon" type="image/gif" />
		<link href="/css/default.css" rel="stylesheet" type="text/css" />
	</head>

	<body style="padding-left: 50px;padding-top: 30px;">
		<a href="/en/" title="GoKunming"><img src="/images/gokunming/gokunming.png" width="226" height="58" alt="*" /></a>
		<p style="margin-left: 10px;margin-top: 15px;line-height:150%;width:300px;">GoKunming is down for some maintenance. Apologies for the inconvenience. Please check back in an hour or so.</p>
	</body>
</html>