@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.35em;
	height: 1.2em;
	width: 1.1em;
	font-size: 1em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
a .icon { margin-right: 5px; }
a .icon-right { float: right; margin-right: 0; margin-left: 5px; }
.icon span { display: none; }

.icon-weixin:before {
	content: "\e600";
}
.icon-weibo:before {
	content: "\e601";
}
.icon-tencent-weibo:before {
	content: "\e602";
}
.icon-renren:before {
	content: "\e603";
}
.icon-qzone:before {
	content: "\e604";
}
.icon-qq:before {
	content: "\e605";
}
.icon-kaixin:before {
	content: "\e606";
}
.icon-uniF000:before {
	content: "\f000";
}
.icon-calendar:before {
	content: "\e000";
}
.icon-reorder:before {
	content: "\e001";
}
.icon-pen:before {
	content: "\e002";
}
.icon-edit:before {
	content: "\e003";
}
.icon-feed:before {
	content: "\e004";
}
.icon-feed-2:before {
	content: "\e005";
}
.icon-bubbles:before {
	content: "\e006";
}
.icon-comment:before {
	content: "\e007";
}
.icon-comments:before {
	content: "\e008";
}
.icon-user:before {
	content: "\e009";
}
.icon-user-add:before {
	content: "\e00a";
}
.icon-users:before {
	content: "\e00b";
}
.icon-home:before {
	content: "\e00c";
}
.icon-book:before {
	content: "\e00d";
}
.icon-book-2:before {
	content: "\e00e";
}
.icon-star:before {
	content: "\e00f";
}
.icon-star-half:before {
	content: "\e010";
}
.icon-star-empty:before {
	content: "\e011";
}
.icon-binoculars<br>:before {
	content: "\e012";
}
.icon-uniE013:before {
	content: "\e013";
}
.icon-envelope:before {
	content: "\e014";
}
.icon-phone:before {
	content: "\e015";
}
.icon-mobile:before {
	content: "\e016";
}
.icon-phone-2:before {
	content: "\e017";
}
.icon-address-book:before {
	content: "\e018";
}
.icon-map-pin-fill:before {
	content: "\e019";
}
.icon-map-pin-stroke:before {
	content: "\e01a";
}
.icon-uniE01B:before {
	content: "\e01b";
}
.icon-briefcase:before {
	content: "\e01c";
}
.icon-airplane:before {
	content: "\e01d";
}
.icon-glass:before {
	content: "\e01e";
}
.icon-mug:before {
	content: "\e01f";
}
.icon-camera:before {
	content: "\e020";
}
.icon-microphone:before {
	content: "\e021";
}
.icon-drink:before {
	content: "\e022";
}
.icon-checkmark:before {
	content: "\e023";
}
.icon-cancel:before {
	content: "\e024";
}
.icon-grid:before {
	content: "\e025";
}
.icon-list:before {
	content: "\e026";
}
.day .icon-mostlysunny:before,
.day .icon-partlysunny:before,
.day .icon-mostlycloudy:before,
.day .icon-partlycloudy:before,
.icon-cloudy:before {
	content: "\e027";
}
.night .icon-mostlysunny:before,
.night .icon-partlysunny:before,
.night .icon-mostlycloudy:before,
.night .icon-partlycloudy:before,
.icon-cloud:before {
	content: "\e028";
}
.icon-weather:before {
	content: "\e029";
}
.night .icon-fog:before,
.night .icon-hazy:before,
.icon-weather-2:before {
	content: "\e02a";
}
.icon-weather-3:before {
	content: "\e02b";
}
.icon-lines:before {
	content: "\e02c";
}
.icon-cloud-2:before {
	content: "\e02d";
}
.icon-lightning:before {
	content: "\e02e";
}
.icon-rainy-2:before {
	content: "\e030";
}
.icon-windy:before {
	content: "\e031";
}
.icon-windy-2:before {
	content: "\e032";
}
.icon-snow:before,
.icon-flurries:before,
.icon-chancesnow:before,
.icon-chanceflurries:before,
.icon-snowy:before {
	content: "\e033";
}
.icon-snowy-2:before {
	content: "\e034";
}
.icon-snowy-3:before {
	content: "\e035";
}
.icon-sleet:before,
.icon-chancesleet:before,
.icon-weather-4:before {
	content: "\e036";
}
.icon-cloudy:before,
.icon-cloudy-2:before {
	content: "\e037";
}
.icon-cloud-3:before {
	content: "\e038";
}
.icon-tstorms:before,
.icon-chancetstorms:before,
.icon-chancetstorms:before,
.icon-lightning-2:before {
	content: "\e039";
}
.icon-sun:before {
	content: "\e03a";
}
.icon-moon:before {
	content: "\e03b";
}
.icon-sunrise:before {
	content: "\e049";
}
.night .icon-clear:before,
.night .icon-sunny:before,
.icon-moon-2:before {
	content: "\e04a";
}
.day .icon-clear:before,
.day .icon-sunny:before,
.icon-sun-2:before {
	content: "\e04b";
}
.icon-sun-3:before {
	content: "\e04c";
}
.day .icon-fog:before,
.day .icon-hazy:before,
.icon-windy-5:before {
	content: "\e04d";
}
.icon-wind:before {
	content: "\e04e";
}
.icon-snowflake:before {
	content: "\e04f";
}
.icon-lightning-5:before {
	content: "\e050";
}
.icon-cog:before {
	content: "\e051";
}
.icon-rotate:before {
	content: "\e052";
}
.icon-logout:before {
	content: "\e053";
}
.icon-login:before {
	content: "\e054";
}
.icon-uniE055:before {
	content: "\e055";
}
.icon-heart:before {
	content: "\e056";
}
.icon-heart-2:before {
	content: "\e057";
}
.icon-thumbs-up<br>:before {
	content: "\e058";
}
.icon-thumbs-down<br>:before {
	content: "\e059";
}
.icon-mouse:before {
	content: "\e05a";
}
.icon-uniE05B:before {
	content: "\e05b";
}
.icon-earth:before {
	content: "\e05c";
}
.icon-uniE05D:before {
	content: "\e05d";
}
.icon-arrow-left:before {
	content: "\e05e";
}
.icon-arrow-down:before {
	content: "\e05f";
}
.icon-arrow-up:before {
	content: "\e060";
}
.icon-arrow-right:before {
	content: "\e061";
}
.icon-arrow-left-2:before {
	content: "\e062";
}
.icon-arrow-down-2:before {
	content: "\e063";
}
.icon-arrow-up-2:before {
	content: "\e064";
}
.icon-arrow-right-2:before {
	content: "\e065";
}
.icon-facebook:before {
	content: "\e066";
}
.icon-googleplus:before {
	content: "\e067";
}
.icon-twitter:before {
	content: "\e068";
}
.icon-linkedin:before {
	content: "\e069";
}
.icon-uniE06A:before {
	content: "\e06a";
}
.icon-trash:before {
	content: "\e06b";
}
.icon-step-backward:before {
	content: "\e06c";
}
.icon-fast-backward:before {
	content: "\e06d";
}
.icon-backward:before {
	content: "\e06e";
}
.icon-pay:before {
	content: "\e06f";
}
.icon-pause:before {
	content: "\e070";
}
.icon-stop:before {
	content: "\e071";
}
.icon-forward:before {
	content: "\e072";
}
.icon-fast-forward:before {
	content: "\e073";
}
.icon-step-forward:before {
	content: "\e074";
}
.icon-eject:before {
	content: "\e075";
}
.icon-badge:before {
	content: "\e076";
}
.icon-cup:before {
	content: "\e077";
}
.icon-uniE078:before {
	content: "\e078";
}
.icon-image:before {
	content: "\e079";
}
.icon-uniE07A:before {
	content: "\e07a";
}
.icon-Celcius:before {
	content: "\e07b";
}
.icon-Fahrenheit:before {
	content: "\e07c";
}
.icon-none:before {
	content: "\e07d";
}
.icon-thermometer:before {
	content: "\e07e";
}
.icon-compas:before {
	content: "\e07f";
}
.icon-fullscreen:before {
	content: "\e080";
}
.icon-fullscreen-exit:before {
	content: "\e081";
}
.icon-left-quote:before {
	content: "\e082";
}
.icon-right-quote:before {
	content: "\e083";
}
.icon-drink-2:before {
	content: "\e084";
}
.icon-coffee:before {
	content: "\e085";
}
.icon-ice-cream:before {
	content: "\e086";
}
.icon-mug-2:before {
	content: "\e087";
}
.icon-drink-3:before {
	content: "\e088";
}
.icon-painting:before {
	content: "\e089";
}
.icon-uniE08A:before {
	content: "\e08a";
}
.icon-tie:before {
	content: "\e08b";
}
.icon-heart-3:before {
	content: "\e08c";
}
.icon-heart-4:before {
	content: "\e08d";
}
.icon-plus:before {
	content: "\e08e";
}
.icon-library:before {
	content: "\e08f";
}
.icon-building:before {
	content: "\e090";
}
.icon-hospital:before {
	content: "\e091";
}
.icon-office-2:before {
	content: "\e092";
}
.icon-moon-3:before {
	content: "\e093";
}
.icon-earth-2:before {
	content: "\e094";
}
.icon-pig:before {
	content: "\e095";
}
.icon-paperclip:before {
	content: "\e096";
}
.icon-bag:before {
	content: "\e097";
}
.icon-baseball:before {
	content: "\e098";
}
.icon-graduate:before {
	content: "\e099";
}
.icon-suitcase:before {
	content: "\e09a";
}
.icon-direction:before {
	content: "\e09b";
}
.icon-ticket:before {
	content: "\e09c";
}
.icon-clipboard:before {
	content: "\e09d";
}
.icon-navigtaion:before {
	content: "\e09e";
}
.icon-uniE09F:before {
	content: "\e09f";
}
.icon-gradu:before {
	content: "\e0a0";
}
.icon-piano:before {
	content: "\e0a1";
}
.icon-music<br>:before {
	content: "\e0a2";
}
.icon-graduation<br>:before {
	content: "\e0a3";
}
.icon-heart-5:before {
	content: "\e0a4";
}
.icon-user-2:before {
	content: "\e0a5";
}
.icon-spinner:before {
	content: "\e0a6";
}
.icon-smiley:before {
	content: "\e0a7";
}
.icon-mail:before {
	content: "\e0a8";
}
.icon-envelope-alt:before {
	content: "\e0a9";
}
.icon-envelope-2:before {
	content: "\e0aa";
}
.icon-envelope-3:before {
	content: "\e0ab";
}
.icon-picture:before {
	content: "\e0ac";
}
.icon-pictures:before {
	content: "\e0ad";
}
.icon-cloud-6:before {
	content: "\e0ae";
}
.icon-flag:before {
	content: "\e0af";
}
.icon-edit-2:before {
	content: "\e0b0";
}
.icon-pencil:before {
	content: "\e0b1";
}
.icon-uniE02F:before {
	content: "\e02f";
}
.icon-baidu:before {
	content: "\e607";
}
.icon-reddit:before {
	content: "\e608";
}
.icon-share:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-qrcode:before {
	content: "\e60b";
}
.icon-cart:before {
	content: "\e60c";
}
.icon-tags:before {
	content: "\e60d";
}
.icon-tag:before {
	content: "\e60e";
}
.icon-new-tab:before {
	content: "\e60f";
}
.icon-equalizer:before {
	content: "\e610";
}
.icon-chrome:before {
	content: "\e611";
}
.icon-food:before {
	content: "\e612";
}
.icon-bed:before {
	content: "\e613";
}
.icon-certificate:before {
	content: "\e614";
}
.icon-office:before {
	content: "\e615";
}
.icon-trophy:before {
	content: "\e616";
}
.icon-aid:before {
	content: "\e617";
}
.icon-warmedal:before {
	content: "\e618";
}
.icon-music:before {
	content: "\e619";
}
.icon-headphones:before {
	content: "\e61a";
}
.icon-beer:before {
	content: "\e61b";
}
.icon-bookmark:before {
	content: "\e61c";
}
.icon-uniF7CA:before {
	content: "\e61d";
}
.icon-captainamerica:before {
	content: "\e61e";
}
.icon-businesscard2:before {
	content: "\e61f";
}
.icon-woman:before {
	content: "\e620";
}
.icon-fantastico:before {
	content: "\e621";
}
.icon-qrcode2:before {
	content: "\e622";
}
.icon-settings3:before {
	content: "\e623";
}
.icon-settings5:before {
	content: "\e624";
}
.icon-lock:before {
	content: "\e625";
}
.icon-unlocked:before {
	content: "\e626";
}
.icon-road:before {
	content: "\e627";
}
.icon-shuffle:before {
	content: "\e628";
}
.icon-loop:before {
	content: "\e629";
}
.icon-loop2:before {
	content: "\e62a";
}
.icon-error2:before {
	content: "\e62b";
}
.icon-error:before {
	content: "\e62c";
}
.icon-info:before {
	content: "\e62d";
}
.icon-info2:before {
	content: "\e62e";
}
.icon-man:before {
	content: "\e62f";
}
.icon-binoculars:before {
	content: "\e630";
}
.icon-zoom-in:before {
	content: "\e631";
}
.icon-zoom-out:before {
	content: "\e632";
}
.icon-rain:before,
.icon-chancerain:before,
.icon-rainy:before {
	content: "\e645";
}
.icon-key:before {
	content: "\e633";
}
.icon-gauge:before {
	content: "\e634";
}
.icon-graduation:before {
	content: "\e635";
}
.icon-info3:before {
	content: "\e636";
}
.icon-question:before {
	content: "\e637";
}
.icon-warning:before {
	content: "\e638";
}
.icon-help:before {
	content: "\e639";
}
.icon-info4:before {
	content: "\e63a";
}
.icon-search2:before {
	content: "\e63b";
}
.icon-dashboard:before {
	content: "\e63c";
}
.icon-thumbs-up:before {
	content: "\e63d";
}
.icon-thumbs-down:before {
	content: "\e63e";
}
.icon-thumbs-up2:before {
	content: "\e63f";
}
.icon-thumbs-down2:before {
	content: "\e640";
}
.icon-signal:before {
	content: "\e641";
}
.icon-female:before {
	content: "\e642";
}
.icon-male:before {
	content: "\e643";
}
.icon-shop:before {
	content: "\e644";
}
