<div id="infoblock" style="width:224px;float: left;">
	<p style="float:left;position:absolute;"><?php echo $this->total_users; ?> users<br />
	<?php echo $this->online_users; ?> online<br />
	Sunrise:&nbsp;<?php echo $this->sunrise; ?></p>

	<p style="float:left;text-align:right;width:224px;z-index:20;"><?php echo $this->date; ?><br />
	<?php echo $this->description; ?>,&nbsp;<?php echo $this->degrees; ?>&deg;C<br />
	Sunset:&nbsp;<?php echo $this->sunset; ?></p>

	<p style="float:left;clear:both;">Newest user:&nbsp;<?php echo $this->newest_user; ?></p>
</div>