<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Olympus</title>

	<link href="/admin/css/default.css" rel="stylesheet" type="text/css">
	<link href="css/default.css" rel="stylesheet" type="text/css">
	<link href="/admin/images/favicons/olympus.png" rel="icon" type="image/png" />
	<script src="/admin/js/default.js" type="text/javascript"></script>
	<script src="js/default.js" type="text/javascript"></script>
	<script src="/js/jquery.js" type="text/javascript"></script>
</head>

<body>
<div id="container">
<div id="header"><?php echo $this->menu; ?></div>

    <div id="page_title">
    <div id="title_text"><?php echo $this->title; ?></div>
    </div>

    <div id="left">
    <div id="side_menu"><?php echo $this->left; ?></div>
    </div>

    <div id="right">
    <div id="main"><?php echo $this->main; ?></div>
    </div>
</div>
</body>
</html>
