<div id="forums_form_intro">
	<div class="helptext">
		<p>Please note the following regarding <?php echo $this->site_name; ?> forums:</p>
			<ul>
				<li>Keep things civil and <strong>refrain from personal attacks</strong>.</li>
				<li>Please <strong>refrain from using all capital letters</strong> when posting. Posts written in all caps will be deleted.</li>
				<li>The forums are a place for individual users to exchange ideas and information, <strong>do not post advertisements for goods or services.</strong> If you have a service to offer consider <a href="/en/contact/">becoming a <?php echo $this->site_name; ?> advertiser</a>.</li>
				<li>The forums are <strong>a place for information that is of sustained relevance to the community</strong>. For announcing events, finding housing, job hunting, buying and selling, language exchange, and personals, please use the <a href="/en/classifieds/"><?php echo $this->site_name; ?> classifieds section</a>.</li>
				<li>Users who would like to share information published elsewhere should include a hyperlink instead of copying text verbatim.</li>
				<li>Forums that veer wildly off topic, devolve into attacks on individuals or groups of people or use abusive language will be removed at the Moderator's discretion. Please remain respectful at all times.</li>
				<li>By posting or commenting users agree to the above guidelines. <?php echo $this->site_name; ?> reserves the right to ban users who repeatedly violate any of these terms.</li>
				<li>We also reserve the right to delete any post that we deem inappropriate for any reason.</li>
			</ul>
	</div>
</div>