<a name="reply_form"></a>
<form id="forums_post_form" action="/en/forums/post_proc/" method="post">
	<fieldset>
		
		<input type="hidden" name="thread_id" value="<?php echo (int) $this->thread_id; ?>">
		<input type="hidden" name="post_id" value="<?php echo (int) $this->post_id; ?>">
		<label for="post_text"><?=$this->nickname;?></label><textarea id="post_text" name="post"><?=$this->post;?></textarea><br>
		<?php echo $this->subscribe; ?><br>
		<input class="submit" type="submit" value="Post">
	</fieldset>
</form>