<div id="classifieds_form_intro">
	<h1 class="dark"><a href="/en/classifieds/">Classifieds</a> > Post an Ad</h1>

	<div class="helptext">
		<p>Please note the following regarding <?php echo $this->site_name; ?> classified ads:</p>

		<ul>
		<li><strong>We may review your ad</strong> before placing it on <?php echo $this->site_name; ?>. Usually it will be accepted or rejected within one business day.</li>
		<li>Please <strong>avoid posting in multiple categories</strong>, and try to choose the category that best matches your ad.</li>
		<li>Please <strong>refrain from using all capital letters</strong> when posting. Posts written in all caps will be deleted.</li>
        <li>Classified ads remain on the site for 90 days unless you set them to expire sooner. Please <strong>post your ad only one time.</strong></li>
		<li>Ads are displayed under your <?php echo $this->site_name; ?> nickname and responses are sent to your <?php echo $this->site_name; ?> login email address, so <strong>you don't need to disclose your contact information</strong> in your ad.</li>
		<li>The classifieds are a platform for <strong>individual users only.</strong> Companies that want to advertise on <?php echo $this->site_name; ?> should <a href="/en/contact/">contact us</a>.</li>
		<li><strong><?php echo $this->site_name; ?> reserves the right to determine</strong> which ads we will allow on the site.</li>
		</ul>
	</div>
</div>