<h1 class="dark">About us</h1>

<div class="pageWrapper historyBox">

<h2>The GoKunming story</h2>

<p><a href="http://www.gokunming.com">GoKunming</a> was founded by <a href="/en/blog/poster/2/">Chris Horton</a> in 2005.
Chris was frustrated by the general lack of up-to-date, practical information available online regarding Kunming and Yunnan.
He set out to create a platform that could provide English-language <a href="/en/blog/category/news/">news</a> and <a href="/en/blog/category/travel/">travel</a> information
for both foreign and domestic users.</p>

<p><a href="http://www.gokunming.com">GoKunming</a> was a lo-fi HTML listings site for a year before Chris teamed up with
<a href="/en/blog/poster/1/">Matthew Sills</a> in the summer of 2006. Their collaboration 
resulted in a much-improved site featuring a blog and user-friendly features including
classifieds, forums and an events calendar.</p>

<p>With newly-added functionality, the site began to grow and take on a life of its own.
In 2007 <a href="http://www.gokunming.com">GoKunming</a> and CinaOggi organized the
<a href="/en/blog/item/437/bigscreen_2007_film_festival_begins_tomorrow">BigScreen International Film Festival in Kunming</a>.
The free event screened 94 films from more than 20 countries and was a major milestone in the site's development.</p>

<p>Also in 2007, <a href="http://www.gokunming.com">GoKunming</a> was added to <a href="https://news.google.com/?q=gokunming">Google News</a> as a source for <a href="https://news.google.com/?q=gokunming+yunnan">Yunnan news articles</a>. Under Chris and Matthew's
stewardship the site steadily built momentum and its readership rose. Five years ago <a href="http://www.gokunming.com">GoKunming</a> was averaging
49,000 page views each month. Today that number is 350,000.</p>

<p>An <a href="/en/blog/item/1676/welcome_to_the_new_gokunmingcom">updated version of the site</a>
went online in July 2010, with expanded user profiles, personal messaging and an improved search function.
Chris and Matthew have since moved on, <a href="/en/blog/item/2656/management_handover_at_gokunming">handing the reins over</a>
to graphic designer and photographer <a href="/en/blog/poster/38/">Yereth Jansen</a> and
entrepreneur <a href="/en/blog/poster/39">Adrian Golobic</a> in 2012. <a href="/en/blog/poster/20/">Patrick Scally</a>
is editor, Aaron Bono manages user-generated content and <a href="/en/blog/poster/42/">Philippe Semanaz</a>
is entertainment liaison.</p>

<p><a href="http://www.gokunming.com">GoKunming</a> underwent a <a href="/en/blog/item/3142/welcome_to_the_new_gokunming">massive coding overhaul in early 2014</a>, which resulted in a new, more modern look
and expanded user profiles for both individuals and businesses. Emphasis was placed specifically on increasing
functionality across all platforms, whether personal computer or mobile device.</p>

<p>In addition to making <a href="http://www.gokunming.com">GoKunming</a> as user-friendly and informative as possible,
Chris, Matthew, Yereth, Adrian, Patrick, Aaron and Philippe have spent countless hours exploring and learning
about the amazing people and places that make Yunnan such a special province. This is a tradition <a href="http://www.gokunming.com">GoKunming</a>
will continue to maintain. And, as always, we will strive to provide informative and thoughtful content
that is both accessible and meaningful to our readers.</p>
</div>