This website, its design and contents — including all articles and images or videos — unless otherwise noted, are copyright 2005-<?=date('Y')?>, GoKunming.com. All rights reserved.

GoKunming is not affiliated with the government of the People's Republic of China in any way. As such, views expressed here are not necessarily endorsed by national, provincial or local officials.

All content, including, but not limited to, articles, photographs, images, illustrations, audio and video clips or any other type of content not listed here, are protected by copyright and are owned, controlled or licensed by GoKunming.

The content of this site, including text, images, audio and video files, computer software, and all of the other amazing stuff on this website, may not be republished or otherwise redistributed without the permission of GoKunming.

This website is protected by copyright as a collective work and/or compilation, pursuant to applicable international conventions, and other copyright laws. Users may not store any significant portion of the site in any form. 

GoKunming users may download or copy the content and other downloadable items displayed for personal use only, provided that users maintain all copyright and other notices. Copying or storing of any content for other than personal, noncommercial use is expressly prohibited without prior permission of GoKunming or the appropriate copyright holder.

Can you link to GoKunming? Absolutely. In fact we whole-heartedly encourage it. For permission to reuse any stories, photos or videos from GoKunming, get in touch via our #contact form#/en/contact/#.