<h2 id="forum_guidelines">Forums Guidelines</h2>

The GoKunming #Forums#/en/forums/# exist so that GoKunming users can freely exchange information and discuss topics that are of sustained relevance to the community. Keeping this in mind, both the Forums and Classifieds sections are the territory of individuals, not businesses. The exception to this rule is when businesses post classified ads offering employment.

Users who would like to share information published elsewhere online should include a hyperlink instead of copying text verbatim.

Forum threads that veer wildly off topic, devolve into attacks on individuals or groups of people or use abusive language will be removed at the Moderator's discretion. Please remain respectful at all times.

Do not use all capital letters when posting. Posts written in all caps will be deleted.

Keep things civil and refrain from personal attacks.

GoKunming reserves the right to delete any post that we deem inappropriate for any reason.

By posting or commenting users agree to the above guidelines as well as GoKunming #Terms of Service#/pages/r/terms-of-service/#. GoKunming reserves the right to ban users who repeatedly violate any of these terms or conditions.

For announcing events, finding housing, job hunting, buying and selling, language exchange, and personals, please use the GoKunming Classifieds section. Do not use the forums to post advertisements for goods or services. If you have a service to offer, consider becoming a GoKunming advertiser. Forum posts by companies for the purpose of promotion will be deleted. Any hyperlinks leading to advertisements will also be deleted immediately.

<h2 id="classifieds_guidelines">Classifieds Guidelines</h2>

GoKunming reviews all ads before they appear on the site. #Classifieds#/en/classifieds/# will usually be accepted or rejected in less than one business day.

Avoid posting the same ad in multiple categories, instead choosing the single category that best matches your needs.

Refrain from using all capital letters when posting. It is very annoying to most people. Posts written in all caps will be deleted.

Classified ads remain on the site for 45 days unless set by a user to expire sooner. 

Post your ad only one time and refrain from 'spamming' the site with multiple classified posts that can be combined into a single entry.

Classifieds will be approved in the order in which they are received.

Classifieds are displayed under your GoKunming nickname and responses are sent to your GoKunming login email address. Therefore you should not disclose any further contact information publicly. Because of this, we highly recommend people omit their email addresses and phone numbers to avoid having such information collected by bots.

The Classifieds are a platform for individual users only. Companies wishing to advertise on GoKunming should get in touch via the #contact form#/en/contact/#. The notable exception to this rule is when businesses wish to post an ad offering employment.

GoKunming reserves the right to determine which classified ads we allow on the site. Offensive or intentionally lewd content will not be accepted.

Any hyperlinks leading to advertisements will be deleted immediately.

<h2 id="comments_guidelines">Article Comments Guidelines</h2>

The Comment section included at the end of all GoKunming #articles#/en/blog/# exist so our users can freely exchange information and discuss topics relevant to the article itself.

Discussions that veer wildly off topic, devolve into attacks on individuals or groups of people or use abusive language will be locked or removed at the Moderator's discretion.

Please remain respectful at all times.

Refrain from using all capital letters when posting. Most people consider this very annoying. Posts written in all caps will be deleted.

Any hyperlinks leading to advertisements will be deleted immediately.

<h2 id="reviews_guidelines">Listing Reviews Guidelines</h2>

The Review section attached to all GoKunming #Listings#/en/listings/city/kunming/# exists as a place for individual users to express their opinions regarding the quality and/or service at a given business, venue or organization. 

Ideally the Review sections are not a place to ask for information or begin a discussion.

If a GoKunming user has an existing review of a venue and posts a new review, the old one will be replaced, as will the star rating. This is to prevent one person from posting multiple reviews and from the Reviews section turning into a discussion board. Reviews older than nine months are not used to calculate a venue's star rating.

Consider your review carefully. If you are taking the time to post something, don’t forget to choose a star rating between one and five.

Reviews deemed to be intentionally destructive to a business' reputation, or those obviously written as self-promotion by the venue itself, will be removed. Reviews must contain both a star rating and a supporting text. As with any user generated content on GoKunming, posts deemed inappropriate may be removed at the Moderator's descretion.