GoKunming is seeking full-time interns to join our team in Kunming, China. As an intern, you will become a valued and crucial member of our growing company, gaining practical expertise on modern China through work at a cutting-edge, international website. 

<h3>Available Positions</h3>

• Content production
• Graphic design
• Sales
• Public relations and marketing
• Web development
• Event management

<h3>Preferred Qualifications</h3>

• Ability to work under tight deadlines
• Good communication skills and a talent for collaboration
• Creative, proactive, and able to solve problems with minimal supervision
• An interest in Chinese culture and society, particularly concerning the diversity existing in Yunnan province
• Some proficiency in Chinese
• Experience in graphic design and/or PHP and front-end development a plus

<h3>Benefits</h3>

• Explore and better understand China by reading and writing on current events
• Network with industry leaders
• Learn time management tactics while working on complex projects with multiple deadlines
• Practice your oral and written Chinese
• Work at the forefront of a rising company in one of China’s fastest-growing regions

Internships are offered on a rolling basis, with a minimum commitment of three days per week. Hours and duration of term will be negotiable. At this time, all GoKunming internships are unpaid.

<h3>Applications</h3>

Résumés should be submitted via the #GoKunming contact form#<?=$this->url(array('m' => 'contact', 'subject' => $this->lang('EMAIL_SUBJECT_APPLY_FOR_INTERNSHIP')))?>#, along with a cover letter explaining your interest in GoKunming and motivation for working in southwest China. Be sure to note your proficiency level in Mandarin and the desired starting and ending dates of your internship.

<div style="text-align: center;"><a style="margin-bottom: 0; margin-top: 10px;" class="icon-link" href="<?=$this->url(array('m' => 'contact', 'subject' => $this->lang('EMAIL_SUBJECT_APPLY_FOR_INTERNSHIP')))?>"><span class="icon icon-pen"> </span> <?=$this->lang('MENU_APPLY_NOW');?></a></div>