<h2>How to submit an article</h2>

GoKunming accepts both #Feature#/en/blog/category/features/# and #Travel#/en/blog/category/travel/# articles. The suggested length is between 750 and 1,500 words but submissions of any length will be considered. We will also consider article abstracts or proposals.

Note that emailed articles should be pasted or typed into the body of the message — please do not attempt to send attachments. Images, especially concerning travel articles, are vital and must be submitted in digital format — the larger the better.

We read all submissions as promptly as possible. After the article has been read, we will contact you regarding acceptance or rejection. Articles submitted without a valid email address will not be considered.

Before spending time writing a proposal or an article please look through the #GoKunming article archives#/en/blog/# to see that you are not duplicating something we have already written, unless of course you can provide valuable updated information. Also keep in mind the arena in which GoKunming operates and that some issues are more sensitive than others.